[submodule "tree-sitter/tree-sitter-woowoo"]
    path = tree-sitter/tree-sitter-woowoo
    url = https://gitlab.fit.cvut.cz/woowoo/lsp/tree-sitter-woowoo.git
[submodule "tree-sitter/tree-sitter-yaml"]
    path = tree-sitter/tree-sitter-yaml
    url = https://github.com/ikatyang/tree-sitter-yaml.git